@import 'mediawiki.skin.variables.less';

.mw-cx-ui-CategoryMultiselectWidget.oo-ui-iconElement > .oo-ui-tagMultiselectWidget-handle {
	padding: @spacing-30 @spacing-65;

	> .oo-ui-iconElement-icon {
		background-position: left center;
		position: static;
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		margin-inline-end: @spacing-25;
		width: @size-icon-medium;
		height: @size-icon-medium;
		min-width: @min-size-icon-medium;
		min-height: @min-size-icon-medium;
		cursor: default;
	}

	> .mw-cx-ui-CategoryMultiselectWidget-headerLabel {
		vertical-align: middle;
		font-weight: @font-weight-bold;
		line-height: @line-height-x-small;
		cursor: default;
	}

	> .oo-ui-tagMultiselectWidget-content > .oo-ui-labelElement-label {
		color: @color-subtle;
		font-weight: @font-weight-bold;

		&:not( :empty ) {
			display: inline-block;
			margin: @spacing-75 0 @spacing-50;
		}
	}
}
