# Server URL where the test should be run
MW_SERVER=http://fr.mediawiki.mwdd.localhost:8080
MW_SCRIPT_PATH=/w

# User account that should be used for testing
MEDIAWIKI_USER=admin
MEDIAWIKI_PASSWORD=mwddpassword

# ContentTranslation-specific environment variables
CX_REMOTE_API_URL_TEMPLATE=http://{domain}.wikipedia.org/w/api.php
CX_RESTBASE_URL_TEMPLATE=https://{domain}.wikipedia.org/api/rest_v1
