@import "../../widgets/common/ext.cx.common";
@import "mediawiki.mixins";

.cx-translationlist {
	.mw-ui-item;
	.mw-ui-two-thirds;
	padding-left: 50px;

	.translation {
		.mw-ui-one-whole;
		padding: 10px;

		&.cx-translation-deleted {
			opacity: 0.5;
		}

		.last-updated {
			.mw-ui-one-sixth;
			color: #565656;
		}

		.image-block {
			.mw-ui-one-sixth;
			padding: 0 10px;
			width: 120px;

			.image {
				height: 100px;
				width: 100px;

				&:empty {
					.background-image-svg('../../tools/images/link_lightgray.svg', '../images/link_lightgray.png');
					background-repeat: no-repeat;
					background-color: #fbfbfb;
					background-position: center center;
					border-right: 1px solid #eeeeee;
				}
			}
		}

		.title-language-block {
			.mw-ui-one-half;

			.source-title {
				.mw-ui-one-whole;
				font-size: larger;
				text-align: left; // To ensure consistent alignment in RTL and LTR

				&.disabled  {
					pointer-events: none;
					cursor: default;
				}
			}

			.status,
			.target-language,
			.source-language {
				float: left;
				position: relative;
				padding: 10px 10px 10px 0;
				margin-right: 20px;
				color: #565656;
			}

			.source-language:after,
			.source-language:before {
				left: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			.source-language:after {
				border-color: rgba(255, 255, 255, 0);
				border-left-color: #fff;
				border-width: 5px;
				margin-top: -5px;
			}

			.source-language:before {
				border-color: rgba(85, 85, 85, 0);
				border-left-color: #555;
				border-width: 7px;
				margin-top: -7px;
			}

			.status-deleted {
				color: #ff3300;
			}

			.status-published {
				color: #00af89;
			}

			.actions-menu-trigger {
				font-size: larger;
				font-weight: 800;
				color: #565656;
				cursor: pointer;
				padding: 0 5px;
			}

			.actions-menu-container {
				.mw-ui-one-whole;

				clear: both;
				position: relative;
				width: auto;
				float: left;

				ul {
					display: none;
					position: absolute;
					top: 20px;
					left: 0;
					list-style: none;
					margin: 0;
					font-size: normal;
					font-weight: normal;
					min-width: 300px;
					background-color: #fff;
					border: 1px solid #ddd;
					border-bottom: 3px solid #ddd;
					border-radius: 2px;

					li {
						padding: 5px 30px;
						cursor: pointer;
						.background-image-svg('../images/trash_lightgray.svg', '../images/trash_lightgray.png');
						background-repeat: no-repeat;
						background-position: center left;
						background-size: 30px 20px;

						&:hover {
							.background-image-svg('../images/trash_orange.svg', '../images/trash_orange.png');
							background-color: darken( white, 5% );
						}
					}
				}

				&:hover ul {
					display: block;
				}

				&:hover .actions-menu-trigger {
					background-color: #eee;
				}
			}
		}
	}

	.translation-filter {
		padding: 10px 0;
		.mw-ui-one-whole;

		select {
			.mw-ui-one-quarter;
			height: 40px;
			background-color: white;
		}

		.translation-source-language-filter {
			margin-left: 50px;
		}
	}
}

.cx-draft-discard-dialog {
	.mw-ui-item;
	color: #333;
	position: fixed;
	min-width: 500px;
	max-width: 600px;
	background: white;
	border: 1px solid #ddd;
	border-bottom-width: 3px;
	border-radius: 3px;
	padding: 0;
	top: 30%;
	left: 30%;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	&__message {
		padding: 25px;
		font-size: large;
	}
	&__actions {
		.mw-ui-one-whole;
		padding: 20px;
		button {
			float: right;
			padding-right: 20px;
		}
	}
}
