@import "../../widgets/common/ext.cx.common";
@import "ext.cx.lists.common";
@import "mediawiki.mixins";

.cx-suggestionlist h2 {
	float: left;
	border-bottom: none;
}

.cx-suggestionlist--expanded h2,
.cx-suggestionlist--collapsed h2 {
	.mw-ui-one-whole;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom: 0;
	padding: 10px;
	margin: 20px 0 0 0;
	cursor: pointer;
}

.cx-suggestionlist--collapsed {
	// First item is heading and then next 2 items.
	// So hide all items starting at 4th child.
	.cx-slitem:nth-child(n+4) {
		display: none;
	}
}

.cx-suggestionlist__collapse,
.cx-suggestionlist__expand,
.cx-suggestionlist__refresh {
	.mw-ui-one-whole;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	cursor: pointer;
	font-size: medium;
	text-align: center;
	&:hover {
		background-color: #eff3fb;
	}
}

.cx-slitem__desc {
	color: #555;
	font-size: 1.2em;
	padding: 10px 0;
	clear: both;
	text-align: left;
}

.cx-slitem__details {
	.mw-ui-four-sixths;
	padding-left: 15px;
	position: relative;
	height: 100px;
	font-size: small;

	.cx-slitem__translation-link {
		.mw-ui-one-whole;
		font-size: large;
		text-decoration: none;
		padding-left: 0;
		cursor: pointer;

		.source-title {
			color: #333;
		}
	}

	.cx-slitem__meta {
		position: absolute;
		bottom: 0;
	}
}

.cx-slitem__actions {
	.mw-ui-one-sixth;
	float: right;
}

.cx-slitem__action {
	padding: 0 10px;
	float: right;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center center;

	&--discard {
		background-size: 16px;
		.background-image-svg('../../tools/images/clear.svg', '../../tools/images/clear.png');
	}

	&--nonfavorite,
	&--favorite {
		background-size: 24px;
	}

	&--favorite {
		.background-image-svg('../images/star.svg', '../images/star.png');
	}

	&--nonfavorite,
	&--favorite:hover {
		.background-image-svg('../images/star-green.svg', '../images/star-green.png');
	}
}

.cx-sltag--featured {
	width: auto;
	float: left;
	color: #00af89;

	// This need to be in green backgound, but for now we have
	// everything as featured.
	padding: 0 2px;
	border-radius: 1px;
	font-size: small;
}

.cx-suggestionlist-featured h2 {
	margin-top: 20px;
}
