@import "../../widgets/common/ext.cx.common";

h2 {
	color: @gray-darker;
}

.cx-column__title {
	font-size: 2.2em;
	font-family: 'Linux Libertine', Georgia, Times, serif;
}

.cx-cta {
	.mw-ui-item;
	.mw-ui-one-whole;
	padding: 50px;
	background-color: #fff;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;

	.cx-cta__action {
		.mw-ui-one-quarter;
	}

	.cx-cta___description {
		.mw-ui-three-quarters;
		font-size: 18px;
		line-height: 22px;
		padding: 2px 20px;
	}

	.cx-feedback {
		right: 10px;
	}
}

// Do not display the header bar containing the link to dashboard in dashboard page.
.cx-header__bar {
	display: none;
}
