@import "../../widgets/common/ext.cx.common";
@import "mediawiki.mixins";

body {
	background-color: #f0f0f0;
}

.cx-column__title {
	font-size: 2.2em;
	font-family: 'Linux Libertine', Georgia, Times, serif;
}

.cx-dashboard {
	padding: 20px 50px;
	color: @gray-darker;
}

.cx-dashboard__sidebar {
	.mw-ui-one-third;
	float: right;
	position: relative;

	&.sticky {
		margin-right: 15px;
		position: fixed;
		top: 0;
		right: 0;
		.cx-sidebar {
			min-height: 100vh;
		}
	}
}

.cx-sidebar {
	background-color: #fff;
	padding: 20px;
	min-height: 85vh;
	width: 100%;
	margin-right: 50px;
	ul {
		margin: 0;
		padding: 0;
		border-top: 1px solid #ddd;

		li {
			border-bottom: 1px solid #ddd;
			padding: 10px 0;
			list-style: none;
		}
	}

	&__link,
	&__link:visited {
		color: #2460cf;
		font-size: 14px;
		padding: 30px 40px;
		background-position: center left;
		background-repeat: no-repeat;
		background-size: 20px;
	}

	&__title {
		font-size: 20px;
		padding-bottom: 15px;
	}

	.cx-sidebar__link--information {
		.background-image-svg('../images/cx-information.svg', '../images/cx-information.png');
	}

	.cx-sidebar__link--feedback {
		.background-image-svg('../images/cx-discuss.svg', '../images/cx-discuss.png');
	}
	.cx-sidebar__link--magnus {
		.background-image-svg('../images/cx-find-missing.svg', '../images/cx-find-missing.png');
	}
}

.cx-header--dashboard {
	background: white;
	border-bottom: 1px solid #ddd;

	.cx-header__title {
		overflow: hidden;
		float: none;
	}

	// Do not display the header bar containing the link to dashboard in dashboard page.
	.cx-header__bar {
		display: none;
	}
}

.translation-source-language-filter,
.translation-target-language-filter {
	background-color: #fff;
	option {
		padding: 5px;
	}
}

.skin-vector #p-personal li {
	float: left;
}
