@import "../../widgets/common/ext.cx.common";

.cx-tlitem,
.cx-slitem {
	.mw-ui-one-whole;
	padding: 8px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom: 0;
	cursor: pointer;

	&:hover {
		background-color: #eff3fb;

		.cx-tlitem__languages__language--source:after,
		.cx-slitem__languages__language--source:after {
			border-left-color: #eff3fb;
		}
	}

	&:last-child {
		border: 1px solid #ddd;
	}
	transition: 1s ease;
}

.cx-translationlist-empty,
.cx-suggestionlist-empty {
	.mw-ui-item;
	color: #999;
	text-align: center;

	&__img {
		.background-image-svg('../images/cx-circle.svg', '../images/cx-circle.png');
		background-repeat: no-repeat;
		background-color: #f0f0f0;
		background-position: top;
		border-right: 1px solid #eee;
		padding: 50px 0;
	}

	&__title {
		margin-top: 20px;
		font-size: larger;
		font-weight: bold;
	}

	&__desc {
		margin-top: 20px;
		font-size: normal;
	}

	&__recommend {
		margin-top: 20px;
		font-size: normal;
		font-weight: bold;

		a,
		a:visited {
			text-decoration: none;
			color: inherit;
			.background-image-svg('../images/lightbulb-b.svg', '../images/lightbulb-b.png');
			background-position: left center;
			background-repeat: no-repeat;
			background-size: 20px;
			padding-left: 22px;
		}
	}
}

.cx-tlitem__languages,
.cx-slitem__languages {
	float: left;

	&__language {
		position: relative;
		margin-right: 20px;
		padding: 0 10px 0 0;
		float: left;
		color: #555;
	}

	&__language:after,
	&__language:before {
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&__language--source:after {
		border-color: rgba(255, 255, 255, 0);
		border-left-color: #fff;
		border-width: 5px;
		margin-top: -5px;
	}

	&__language--source:before {
		border-color: rgba(85, 85, 85, 0);
		border-left-color: #555;
		border-width: 7px;
		margin-top: -7px;
	}
}

.cx-tlitem__image,
.cx-slitem__image {
	.mw-ui-one-sixth;
	padding: 0;
	width: 90px;
	min-height: 90px;
	.background-image-svg('../../dashboard/images/page_lightgray.svg', '../../dashboard/images/page_lightgray.png');
	background-repeat: no-repeat;
	background-color: #fbfbfb;
	background-position: center center;
}
