@import '../../widgets/common/ext.cx.common.less';
@import 'ext.cx.lists.common.less';
@import 'mediawiki.mixins';

.cx-translationlist {
	.mw-ui-one-whole;

	padding: 0;
	.box-shadow-card;
}

.cx-tlitem {
	&.cx-translation-deleted {
		opacity: 0.5;
	}

	.cx-tlitem__actions {
		.mw-ui-one-whole;

		clear: both;
		position: relative;
		width: auto;
		float: right;
		/* This is needed in case the card title (a.translation-link) floats under
		 * the menu and captures the click, making it impossible to use this menu.
		 * If there is target title, it might render over the menu item. On the
		 * other hand, too high z-index and we will start overlapping other things
		 * such as echo notifications. Hopefully 1 is small enough to avoid that.
		 */
		z-index: 1;

		.cx-tlitem__actions__trigger {
			cursor: pointer;
			padding: 18px;
			.background-image-svg('../images/elipses.svg', '../images/elipses.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 24px;

			&:hover {
				background-color: #eaecf0;
			}
		}

		ul {
			display: none;
			position: absolute;
			top: 36px;
			right: 0;
			list-style: none;
			margin: 0 5px 0 0;
			font-size: medium;
			font-weight: normal;
			white-space: nowrap;
			background-color: #fff;
			border: 1px solid #c8ccd1;
			border-bottom-width: 3px;
			border-radius: @borderRadius;

			li {
				padding: 5px 30px;
				cursor: pointer;
				background-repeat: no-repeat;
				background-position: center left;
				background-size: 30px 20px;
			}
			.cx-discard-translation {
				.background-image-svg('../images/trash_lightgray.svg', '../images/trash_lightgray.png');
				margin: 0;

				&:hover {
					.background-image-svg('../images/trash_orange.svg', '../images/trash_orange.png');
					background-color: darken( #fff, 5% );
				}
			}
			.cx-continue-translation {
				.background-image-svg('../images/edit.svg', '../images/edit.png');
				margin: 0;

				&:hover {
					background-color: darken( #fff, 5% );
				}
			}
		}

		&:hover ul {
			display: block;
		}

		&.cx-tlitem__actions--selected {
			ul {
				display: block;
			}

			.cx-tlitem__actions__trigger {
				background-color: #eaecf0;
			}
		}
	}

	.cx-tlitem__details {
		.mw-ui-four-fifths;

		padding-left: 16px;
		position: relative;
		height: 90px;
		font-size: medium;
		color: #fff;

		.cx-progressbar {
			width: 100px;
			margin: 10px 0 10px 0;
			padding: 0;
			height: 6px;
			border-radius: @borderRadius;
			overflow: hidden;

			.cx-progressbar__bar {
				height: 6px;
			}

			.cx-progressbar__bar--mt {
				height: 6px;
				top: -6px;
			}

		}

		.last-updated {
			color: @gray-dark;
			clear: both;
			padding: 5px 0 10px 0;
			font-size: 0.8125em;
		}

		.translation-link {
			.mw-ui-one-whole;

			font-size: 1em;
			font-weight: bolder;
			text-decoration: none;
			padding-left: 0;

			&.disabled {
				pointer-events: none;
				cursor: default;
			}

			.source-title {
				color: #222;
			}

			.target-title {
				color: #72777d;
				padding-left: 1em;
			}

			.source-title,
			.target-title {
				// This needs to be "isolate" and not "embed",
				// because both titles can be in the same direction
				unicode-bidi: -moz-isolate;
				unicode-bidi: -webkit-isolate;
				unicode-bidi: isolate;
			}
		}

		.status {
			float: left;
			position: relative;
			padding: 10px 10px 10px 0;
			margin-right: 20px;
			color: @gray-dark;
		}

		.status-deleted {
			color: #d33;
		}

		.status-published {
			color: #00af89;
		}
	}
}

.cx-draft-discard-dialog {
	.mw-ui-item;

	color: #222;
	position: fixed;
	min-width: 500px;
	max-width: 600px;
	background: #fff;
	border: 1px solid #c8ccd1;
	border-bottom-width: 3px;
	border-radius: @borderRadius;
	padding: 0;
	top: 30%;
	left: 30%;
	box-shadow: 0 5px 10px rgba( 0, 0, 0, 0.2 );
	z-index: 1000;

	&__message {
		padding: 25px;
		font-size: large;
	}

	&__actions {
		.mw-ui-one-whole;

		padding: 20px;

		button {
			float: right;
			padding-right: 20px;
		}
	}
}

.cx-translationlist-uls-all-languages {
	border-bottom: 1px solid @colorGray12;
}
