@import '../../widgets/common/ext.cx.common.less';
@import 'ext.cx.lists.common.less';
@import 'mediawiki.mixins';

.cx-suggestionlist {
	.mw-ui-item;
	.mw-ui-one-whole;
	padding: 0;
	margin: 0 0 10px 0;
}

.cx-suggestionlist h2,
.cx-suggestionlist__public-title {
	.mw-ui-one-whole;
	border-bottom: 0;
}

.cx-suggestionlist__public {
	.mw-ui-item;
	padding: 0;
	margin: 0;
}

// At any time display only two suggestion lists
.cx-suggestionlist-type-4:nth-child(n+3) {
	display: none;
}

// Do not display featured articles list when there are personalized suggestions.
// Featured articles are just fallback.
.cx-suggestionlist-type-5 ~ .cx-suggestionlist-type-1 {
	display: none;
}

.cx-suggestionlist--expanded h2,
.cx-suggestionlist--collapsed h2 {
	.mw-ui-one-whole;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom: 0;
	padding: 10px;
	margin: 0;
	cursor: pointer;
}

.cx-suggestionlist--collapsed {
	// First item is heading and then next 2 items.
	// So hide all items starting at 4th child.
	.cx-slitem:nth-child(n+4) {
		display: none;
	}
}

.cx-suggestionlist__collapse,
.cx-suggestionlist__expand,
.cx-suggestionlist__refresh {
	.mw-ui-one-whole;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	cursor: pointer;
	font-size: medium;
	text-align: center;
	&:hover {
		background-color: #eff3fb;
	}
}

.cx-slitem__desc {
	color: @colorGray7;
	font-size: 0.8125em;
	padding: 5px 0;
	clear: both;
	text-align: left;
}

.cx-slitem__details {
	.mw-ui-four-sixths;
	padding-left: 16px;
	position: relative;
	min-height: 84px;
	font-size: medium;

	.cx-slitem__translation-link {
		.mw-ui-one-whole;
		font-size: 1em;
		font-weight: bolder;
		text-decoration: none;
		padding-left: 0;
		cursor: pointer;

		.source-title {
			color: @gray-darker;
		}
	}

	.cx-slitem__meta {
		position: absolute;
		bottom: 0;
	}
}

.cx-slitem__actions {
	.mw-ui-one-sixth;
	float: right;
	min-height: 90px;

	display: flex;
	justify-content: flex-end; /* align towards end */
}

.cx-slitem__action {
	padding: 0 8px;
	float: right;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.8;

	&:hover {
		opacity: 1;
	}

	&:last-of-type {
		padding-right: 0;
	}

	&--discard {
		background-size: 16px;
		.background-image-svg('../../tools/images/clear.svg', '../../tools/images/clear.png');
	}

	&--nonfavorite,
	&--favorite {
		background-size: 24px;
	}

	&--favorite {
		.background-image-svg('../images/star.svg', '../images/star.png');
	}

	&--nonfavorite,
	&--favorite:hover {
		.background-image-svg('../images/star-green.svg', '../images/star-green.png');
		opacity: 1;
	}
}

.cx-sltag--featured {
	width: auto;
	float: left;
	color: #00af89;

	// This need to be in green backgound, but for now we have
	// everything as featured.
	padding: 0 2px;
	border-radius: 1px;
	font-size: small;
}

.cx-slideup-hide {
	transform: translateY( -200% );
	opacity: 0;
}

.cx-slidedown-hide {
	transform: translateY( 200% );
	opacity: 0;
}
