@import 'mediawiki.mixins';
@import '../../widgets/common/ext.cx.common.less';

.cx-tlitem,
.cx-slitem {
	.mw-ui-one-whole;

	background-color: #fff;
	border-top: 1px solid @colorGray12;
	padding: 16px;

	cursor: pointer;
	transition: 1s ease;

	&:hover {
		background-color: #eff3fb;

		.cx-tlitem__languages__language--source:after,
		.cx-slitem__languages__language--source:after {
			border-left-color: #eff3fb;
		}
	}

	&:last-child {
		border-top: 1px solid @colorGray12;
	}
}

.cx-tlitem:last-child {
	margin-bottom: 48px;
	border-radius: 0 0 @borderRadius @borderRadius;
}

.cx-suggestionlist__header,
.cx-translationlist__header {
	background-color: #fff;
	color: @colorGray5;
	border-radius: @borderRadius @borderRadius 0 0;
	height: 3.667em;
	padding: 0 16px;

	font-size: 1.125em;
	font-weight: bold;
	line-height: 1;

	.flex-center-justify;

	.translation-language-filter {
		background-color: @colorGray15;
		box-sizing: border-box;
		max-width: 33.33%;
		max-height: 34px;
		border: 1px solid #9d9d9d;
		border-radius: @borderRadius;
		padding: 0;

		.flex-display( box ); // Support 2009 syntax
		.flex-display;

		.translation-language-source-container,
		.translation-language-target-container {
			position: relative;
			.box-sizing( border-box );
			cursor: pointer;

			.flex-item;
			overflow: hidden;
		}

		.translation-language-source-container {
			padding-right: 8px;
			margin-right: -8px;
		}

		.translation-language-target-container {
			padding-left: 8px;
			margin-left: -8px;
		}

		.translation-source-language-filter,
		.translation-target-language-filter {
			background-color: @colorGray15;
			padding: 8px;
			font-size: 16px;
			line-height: 1;

			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.translation-language-arrow {
			position: relative;
			width: 0;
			height: 32px;
			margin-right: 16px;
		}

		.translation-language-arrow:after,
		.translation-language-arrow:before {
			content: ' ';

			position: absolute;
			top: 50%;
			left: 100%;

			height: 0;
			width: 0;
			border: solid transparent;

			pointer-events: none;
		}

		.translation-language-arrow:after {
			margin-top: -16px;
			border-color: rgba( 255, 255, 255, 0 );
			border-left-color: @colorGray15;
			border-width: 16px;
			border-left-width: 12px;
		}

		.translation-language-arrow:before {
			margin-top: -17px;
			border-color: rgba( 157, 157, 157, 0 );
			border-left-color: #9d9d9d;
			border-width: 17px;
			border-left-width: 13px;
		}
	}
}

.cx-translationlist-empty,
.cx-suggestionlist-empty {
	.mw-ui-item;
	color: #999;
	padding-top: 20px;
	text-align: center;

	&__img {
		.background-image-svg('../images/cx-circle.svg', '../images/cx-circle.png');
		background-color: @colorGray14;
		background-position: top;
		background-repeat: no-repeat;
		border-right: 1px solid #eee;
		padding: 50px 0;
	}

	&__title {
		margin-top: 20px;
		font-size: larger;
		font-weight: bold;
	}

	&__desc {
		margin-top: 20px;
		font-size: normal;
	}

	&__recommend {
		margin-top: 20px;
		font-size: normal;
		font-weight: bold;

		a,
		a:visited {
			text-decoration: none;
			color: inherit;
			.background-image-svg('../images/lightbulb-b.svg', '../images/lightbulb-b.png');
			background-position: left center;
			background-repeat: no-repeat;
			background-size: 20px;
			padding-left: 22px;
		}
	}
}

.cx-tlitem__languages,
.cx-slitem__languages {
	float: left;
	font-size: 0.8125em;

	&__language {
		color: @gray-dark;
		float: left;
		position: relative;
		margin-right: 20px;
		padding: 0 10px 0 0;
	}

	&__language:after,
	&__language:before {
		content: ' ';

		position: absolute;
		top: 50%;
		left: 100%;

		width: 0;
		height: 0;
		border: solid transparent;

		pointer-events: none;
	}

	&__language--source:after {
		border-color: rgba( 255, 255, 255, 0 );
		border-left-color: #fff;
		border-width: 5px;
		margin-top: -5px;
	}

	&__language--source:before {
		border-color: rgba( 85, 85, 85, 0 );
		border-left-color: @gray-dark;
		border-width: 7px;
		margin-top: -7px;
	}
}

.cx-tlitem__image,
.cx-slitem__image {
	.mw-ui-one-sixth;

	.background-image-svg('../../dashboard/images/page_lightgray.svg', '../../dashboard/images/page_lightgray.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-color: @gray-lighter;
	width: 84px;
	min-height: 84px;
	border-radius: @borderRadius;
	padding: 0;
}
