@import "../../base/styles/grid/agora-grid";

.progressbar {
	.mw-ui-item;
	.mw-ui-one-third;
	height: 10px;
	border-radius: 10px;
	border: 1px solid #ddd;
	background: #fbfbfb;
	vertical-align: middle;
	position: absolute;
	.status {
		.mw-ui-one-whole;
		background: #3892E3;
		display: inline-block;
		height: 10px;
		border-radius: 10px;
		position: absolute;
		left: 0;
		transition: width 1s;
	}
}