.cx-overlay {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300; // 200 is the z-index of sticky header
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

body.cx-noscroll {
	overflow: hidden;
	// Avoid content jump when we hide the scrollbar.
	margin-right: 15px;
}
