<div>
	<div class="card-instructions-section">
		<div class="card-instructions-serial-number">
			<div class="card-instructions-count-one">{{count1}}</div>
		</div>
		<div class="card-instructions-text">
			<div class="card-instructions-heading-one">{{heading1}}</div>
			<div class="card-instructions-description-one">{{description1}}</div>
		</div>
	</div>
	<div class="card-instructions-section">
		<div class="card-instructions-serial-number">
			<div class="card-instructions-count-two">{{count2}}</div>
		</div>
		<div class="card-instructions-text">
			<div class="card-instructions-heading-two">{{heading2}}</div>
			<div class="card-instructions-description-two">{{description2}}</div>
		</div>
	</div>
	<div class="card-instructions-section">
		<div class="card-instructions-serial-number">
			<div class="card-instructions-count-three">{{count3}}</div>
		</div>
		<div class="card-instructions-text">
			<div class="card-instructions-heading-three">{{heading3}}</div>
			<div class="card-instructions-description-three">{{description3}}</div>
		</div>
	</div>
	<div class="card-instructions-guidelines"><a href="{{href}}" target="_blank">{{text}}</a></div>
</div>