@import 'mediawiki.ui/variables';

.ve-ui-cxLinkContextItem-sourceBody {
	background-color: @colorGray15;
	border-top: 1px solid @colorGray12;

	/* Inceased specifity to override parent style */
	&.ve-ui-linearContextItem-body {
		padding: 1em;
	}

	.ve-ui-cxLinkContextItem-title {
		float: left;
	}

	.ve-ui-cxLinkContextItem-language {
		float: right;
		color: @colorGray5;
	}
}

.ve-ui-cxLinkContextItem-targetBody {
	.ve-ui-cxLinkContextItem-title-missing {
		color: #ba0000;
	}

	.ve-ui-cxLinkContextItem-mark-missing {
		display: flex;
		flex-direction: column;
		&-text {
			align-self: start;
			color: @colorGray5;
		}
		&-button {
			align-self: center;
			margin: 1em;
		}
	}
}
