@import '../../../widgets/common/ext.cx.common.less';
@import 'mediawiki.mixins.animation';

.ve-cx-toolbar-mt {
	.ve-cx-toolbar-mt-menu {
		display: block;

		body.skin-vector &,
		body.skin-minerva & {
			border-right: 0;
		}
	}

	.ve-cx-toolbar-mt-title {
		display: block;
		border-bottom: 1px solid @colorGray14;
		color: @colorGray7;
		padding: 4px 10px;
	}

	.ve-cx-toolbar-mt-setdefault {
		display: block;
		border-top: 1px solid @colorGray14;
		padding: 4px;

		& > a {
			display: block;
		}
	}

	> .oo-ui-toolbar-popups {
		width: 100%;

		> .oo-ui-popupToolGroup-tools.oo-ui-popupToolGroup-active-tools {
			width: 100%;
		}
	}

	&.ve-cx-toolbar-mt--highlight .oo-ui-toolbar-bar {
		.animation( cx-flash-highlight, 1s );
	}
}

.cx-text-indicator {
	float: right;
	margin-left: 12px;
	color: @colorTextLight;

	.oo-ui-tool-active.oo-ui-widget-enabled & {
		color: inherit;
	}
}

.cx-flash-highlight() {
	50% {
		background-color: #eaf3ff;
		color: @colorProgressive;
	}
}

@-webkit-keyframes cx-flash-highlight {
	.cx-flash-highlight;
}

/* This is useless, no browser requiring this prefix will ever get served this
 * style, but for consistency with .animation mix-in. */
@-moz-keyframes cx-flash-highlight {
	.cx-flash-highlight;
}

@keyframes cx-flash-highlight {
	.cx-flash-highlight;
}
