.medium-toolbar-arrow-under:after {
	top: 45px;
	border-color: #ffffff transparent transparent transparent;
}

.medium-toolbar-arrow-under:before {
	top: 48px;
	border-color: #cccccc transparent transparent transparent;
	position: absolute;
	left: 50%;
	display: block;
	margin-left: -8px;
	width: 0;
	height: 0;
	border-style: solid;
	content: "";
	border-width: 8px 8px 0 8px;
}

.medium-toolbar-arrow-over:before {
	border-color: transparent transparent #cccccc transparent;
}

.medium-toolbar-arrow-over:after {
	top: -2px;
	border-color: transparent transparent #ffffff transparent;
	position: absolute;
	left: 50%;
	display: block;
	margin-left: -8px;
	width: 0;
	height: 0;
	border-style: solid;
	content: "";
	top: -6px;
	border-width: 0 8px 8px 8px;
}

.medium-editor-toolbar {
	border: 1px solid #cccccc;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 2px 0 #cccccc;
	transition: top .075s ease-out,left .075s ease-out;
}

.medium-editor-toolbar li button {
	min-width: 45px;
	height: 45px;
	border: none;
	border-right: 1px solid #fbfbfb;
	background-color: transparent;
	color: #555555;
	box-sizing: border-box;
	transition: background-color .2s ease-in, color .2s ease-in;
}

.medium-editor-toolbar li button:hover {
	color: #333;
	background: #fbfbfb;
}

.medium-editor-toolbar li .medium-editor-button-first {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.medium-editor-toolbar li .medium-editor-button-last {
	border-right: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.medium-editor-toolbar li .medium-editor-button-active, .medium-editor-toolbar li .medium-editor-button-active:hover {
	background-color: #f0f0f0;
	color: #111111;
  }

.medium-editor-toolbar-form-anchor {
	background: #ffffff;
	color: #333;
	border-radius: 3px;

}

.medium-editor-toolbar-form-anchor input {
	height: 45px;
	background: #ffffff;
	color: #222222;
}

.medium-editor-toolbar-form-anchor input::-webkit-input-placeholder {
	color: #888888;
}

.medium-editor-toolbar-form-anchor input:-moz-placeholder {
	/* Firefox 18- */
	color: #888888;
}

.medium-editor-toolbar-form-anchor input::-moz-placeholder {
	/* Firefox 19+ */
	color: #888888;
}

.medium-editor-toolbar-form-anchor input:-ms-input-placeholder {
	color: #888888;
}

.medium-editor-toolbar-form-anchor a {
	color: #222222;
}

.medium-editor-toolbar-anchor-preview {
	background: #eeeeee;
	color: #222222;
	border-radius: 3px;
	font-size: 0.8em;
}

.medium-editor-anchor-preview.medium-toolbar-arrow-over:before {
	border-color: transparent transparent #eeeeee transparent;
}

.medium-editor-anchor-preview.medium-toolbar-arrow-over:after {
	display:none;
}

