.cx-stats-container {
	margin: 100px 50px;
	clear: both;

	h1,
	h2 {
		margin-top: 1em;
	}
}

.cx-header__publish {
	// Do not display the publish button in stats page.
	display: none;
}

.cx-header__translation-center a::before {
	// Do not display arrow to dashboard.
	display: none;
}

.cx-stats {
	border-collapse: collapse;
	border: 1px solid black;

	tr,
	td {
		font-size: smaller;
		padding: 2px;
		border: 1px solid #ddd;
		text-align: center;
	}

	tr td:first-child,
	thead {
		font-weight: 700;
		background-color: #eee;

		a {
			color: #252525;
		}
	}

	.cx-stat-color-0 {
		background-color: #e8f5e9;
	}

	.cx-stat-color-1 {
		background-color: #c8e6c9;
	}

	.cx-stat-color-2 {
		background-color: #a5d6a7;
	}

	.cx-stat-color-3 {
		background-color: #81c784;
	}

	.cx-stat-color-4 {
		background-color: #66bb6a;
	}
}
