@import '../../../widgets/common/ext.cx.common.less';

.cx-column--tools {
	.mw-ui-one-whole(@palm);
	.stick-to-side;

	background-color: @colorGray14;
	min-height: 100vh;
	top: @personal-header-height + 2 * @personal-header-padding;
	border-left: 1px solid @colorGray12;

	&.sticky {
		top: 0;

		@media @palm {
			.stick-to-bottom;
		}
	}

	@media @palm {
		.stick-to-bottom;
	}
}
