@import "grid/agora-grid";

@gray-darker: #252525;
@gray-dark: #565656;
@gray: #C9C9C9;
@gray-light: #f0f0f0;
@gray-lighter: #fbfbfb;

h2 {
	color: @gray-darker;
}

.cx-column__title {
	font-size: 2.2em;
	font-family: 'Linux Libertine', Georgia, Times, serif;
}

.cx-column--source p,
.cx-column--translation p {
	margin-top: 1.2em;
}

/**
 * Container for the translation widget
 */
.cx-widget {
	.mw-ui-grid;
	color: @gray-darker;
	background: white;
	padding-bottom: 50px;
}

.cx-widget__header {
	.mw-ui-item;
	.mw-ui-one-whole;
	.mw-ui-one-whole(@palm);
	.mw-ui-gutter(0px);
}

.cx-widget__columns {
	margin-top: 150px;
	min-height: 100vh;
}

.cx-column__language-label {
	color: @gray-dark;
}

.cx-column {
	.mw-ui-item;
	.mw-ui-one-third;
	.mw-ui-gutter(3%);
}

.cx-column--source,
.cx-column--translation {
	.mw-ui-one-half(@palm);

	.cx-column__sub-heading {
		.mw-ui-item;
		.mw-ui-one-whole;
		padding-bottom: 10px;
	}

	.cx-column__content {
		clear: both;
		word-wrap: break-word;
	}
}

.cx-column--tools {
	.mw-ui-one-whole(@palm);
	background: #f0f0f0;
	min-height: 100vh;
	position: relative;

	&.sticky {
		.stick-to-side;

		@media @palm {
			.stick-to-bottom;
		}
	}

	@media @palm {
		.stick-to-bottom;
	}
}

.suggestion {
	.mw-ui-item;
	background: white;
	border: 1px solid #cccccc;
	padding: 10px;
	margin: 2px 0;
	.mw-ui-one-half(@palm);
}

.stick-to-side() {
	position: fixed;
	top: 0;
	right: 0;
}

.stick-to-bottom() {
	position: fixed;
	top: auto;
	bottom: 0;
	left: 0;
	box-shadow: 0 -3px 0 0 rgba(0, 0, 0, 0.05);
	max-height: 20%;
	min-height: 3em;
	overflow-x: hidden;
	overflow-y: auto;
	transition: max-height 0.25s;

	&:hover {
		max-height: 50%;
	}
}

.cx-column .cx-column__content table,
.cx-column .cx-column__content figure,
.cx-column .cx-column__content figure[typeof*='mw:Image'] {
	float: none;
}
