@import "../../base/styles/grid/agora-grid";

@text-highlight-color: #FEFCE0;
@link-highlight-color: #BDD4FF;
@connected-link-highlight-color: #D9E6FF;

.cx-column--source {
	.cx-column__language-label,
	.cx-column__sub-heading__view-page {
		.mw-ui-item;
		overflow: hidden;
		text-overflow: ellipsis;
		max-height: 3em;
	}

	.cx-column__language-label {
		.mw-ui-one-third;
	}

	.cx-column__sub-heading__view-page {
		.mw-ui-two-thirds;
	}

	.cx-highlight {
		background-color: @text-highlight-color;
		box-shadow: 0px 0px 0 2px @text-highlight-color;
		border-radius: 2px;
		transition: all 0.25s;
	}

	.cx-highlight--blue {
		background-color: @link-highlight-color;
		box-shadow: 0px 0px 0 2px @link-highlight-color;
		border-radius: 2px;
		transition: all 0.25s;
	}

	.cx-highlight--lightblue {
		background-color: @connected-link-highlight-color;
		box-shadow: 0px 0px 0 2px @connected-link-highlight-color;
		border-radius: 2px;
		transition: all 0.25s;
	}
}

.cx-column__loading-indicator {
	margin-top: 100px;
}

.cx-column__loading-indicator--text {
	padding-top: 20px;
	text-align: center;
	color: #565656;
}
