@import "../../base/styles/grid/agora-grid";
@import "mediawiki.mixins";

.hidden {
	display: none;
}

.cx-sourceselector-dialog {
	.mw-ui-grid;
	.mw-ui-one-third;
	color: #333;
	position: absolute;
	min-width: 500px;
	max-width: 700px;
	background: white;
	border: 1px solid #ccc;
	border-bottom-width: 3px;
	border-radius: 3px;
	z-index: 100;
}

.cx-sourceselector-dialog__heading {
	@vertical-margin: 10px;
	@horizontal-margin: 15px;
	.mw-ui-item;
	.mw-ui-one-whole;
	padding: @vertical-margin @horizontal-margin;
	font-size: larger;
	line-height: 1.5em;
	background-color: #fbfbfb;
}

.cx-sourceselector-dialog__target-inputs,
.cx-sourceselector-dialog__source-inputs {
	.mw-ui-item;
	.mw-ui-one-whole;
}

.cx-sourceselector-dialog__language-label {
	.mw-ui-item;
	.mw-ui-one-sixth;
	padding: 5px;
	font-size: large;
}

.cx-sourceselector-dialog__language {
	.mw-ui-item;
	.mw-ui-one-third;
	margin: 5px 0;
	font-size: large;
}

.cx-sourceselector-dialog__title {
	.mw-ui-item;
	.mw-ui-one-half;
	margin: 5px 0;
	font-size: large;
	-webkit-appearance: none;

	&[type=search] {
		.background-image-svg('../../tools/images/search.svg', '../../tools/images/search.png');
		background-position: 5px center;
		background-repeat: no-repeat;
		background-size: 20px;
		padding-left: 30px;
	}

	border: 1px solid #ccc;
 }

.cx-sourceselector-dialog__actions {
	.mw-ui-item;
	.mw-ui-one-whole;
	padding: 10px 15px 15px 15px;
	text-align: right;
	border-top: 1px solid #aaa;
	margin-top: 20px;

	button {
		margin-left: 10px;
	}
}
