@import '../../ui/styles/mw.cx.mixins.less';

.cx-source-page-selector {
	background-color: #fff;
	color: @colorGray2;
	position: relative;
	z-index: 400; // 300 is the z-index of overlay
	margin-bottom: 2em;
	border-radius: @borderRadius;
	padding: 0;
	.box-shadow-card;

	.cx-language-filter-source-language > .cx-language-filter-button {
		padding: 8px 16px;
	}

	.cx-language-filter-target-language,
	.cx-language-filter-arrow {
		display: none;
	}

	&.cx-source-page-selector--selected {
		.cx-language-filter-source-language > .cx-language-filter-button {
			padding: 8px 12px 8px 16px;
		}

		.cx-source-page-selector__search-results,
		.cx-source-page-selector__page-title {
			display: none;
		}

		.cx-selected-source-page,
		.cx-language-filter-target-language,
		.cx-language-filter-arrow,
		.cx-selected-source-page__license,
		.cx-selected-source-page__actions {
			display: block;
		}
	}

	.cx-source-page-selector__page-title {
		max-width: none;

		input {
			height: 3em;
			padding-top: 1em;
			padding-bottom: 1em;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;

			// Don't show the "clear button" on IE and Edge
			&::-ms-clear {
				display: none;
			}
		}

		> .oo-ui-iconElement-icon {
			/* Fix Apex theme */
			max-height: none;
		}

		> .oo-ui-labelElement-label {
			color: inherit;
			margin: 0;
			padding: 0.4375em 0.5em;
			white-space: nowrap;
		}

		.cx-language-filter {
			margin: 0;
			max-width: none;
			display: inline-block;
			vertical-align: middle;
		}
	}

	.cx-source-page-selector__discard > .oo-ui-buttonElement-button {
		padding-top: 2em;
		padding-left: 2em;
	}

	.cx-selected-source-page {
		display: none;
	}

	.cx-source-page-selector__search-results {
		.oo-ui-menuSelectWidget {
			display: block !important; /* stylelint-disable-line */
			position: static;
			z-index: auto;
			min-height: 0;
			margin-top: 0;
			border: 0;
			box-shadow: none;

			> .oo-ui-menuSectionOptionWidget {
				padding: 0.2em 0.625em;

				&:first-child {
					padding: 0.625em;
				}
			}

			> .mw-cx-widget-titleOptionWidget {
				padding-left: 4.75em;
			}
		}

		.cx-source-page-selector__search-message,
		.cx-source-page-selector__no-suggestions-message {
			color: @colorGray7;
			display: none;
			position: absolute;
			top: 50%;
			left: 50%;
			.transform( translate( -50%, -50% ) );

			.box-sizing( border-box );
			width: 100%;
			padding: 0 1em;
			font-size: 16px;
			text-align: center;
		}

		&.mw-cx-ui-PageSelectorWidget--no-results {
			position: relative;
			min-height: 200px;
		}

		&.mw-cx-ui-PageSelectorWidget--no-results.mw-cx-ui-PageSelectorWidget--input {
			.cx-source-page-selector__search-message {
				display: block;
			}
		}

		&.mw-cx-ui-PageSelectorWidget--no-results:not( .mw-cx-ui-PageSelectorWidget--input ) {
			.cx-source-page-selector__no-suggestions-message {
				display: block;
			}
		}
	}
}
