@import '../../../widgets/common/ext.cx.common.less';

.ve-ce-cxPlaceholderNode {
	opacity: 0;
	-webkit-transition: opacity 200ms ease-out;
	-moz-transition: opacity 200ms ease-out;
	transition: opacity 200ms ease-out;
	font-size: 20px;
	font-weight: lighter;
	color: @colorGray7;
	background-color: @colorGray15;
	text-align: center;
	display: table;
	width: 100%;

	&.ve-ce-focusableNode-focused {
		opacity: 1;
	}

	> .oo-ui-buttonWidget {
		opacity: 0.5;
	}

	> .oo-ui-buttonWidget,
	> .cx-spinner {
		margin: 0;
		display: table-cell;
		vertical-align: middle;
	}
}

// We don't want to show the placeholder during publishing,
// so content container is checked if it's disabled.
.cx-content-container:not( .oo-ui-widget-disabled ) .ve-ce-cxPlaceholderNode:hover {
	cursor: pointer;
	opacity: 1;
}
