@import '../../../widgets/common/ext.cx.common.less';

.ve-ce-cxPlaceholderNode {
	opacity: 0;
	cursor: pointer;
	-webkit-transition: opacity 200ms ease-out;
	-moz-transition: opacity 200ms ease-out;
	transition: opacity 200ms ease-out;
	font-size: 20px;
	font-weight: lighter;
	color: @colorGray7;
	background-color: @colorGray15;
	/* In supported browsers, center the placeholder text */
	display: flex;
	justify-content: center; /* align horizontally */
	align-items: center; /* align vertically */

	&:hover,
	&.ve-ce-focusableNode-focused {
		opacity: 1;
	}

	& > .oo-ui-buttonWidget {
		margin-left: 0.25em;
		opacity: 0.5;
		display: block;
	}

	& > .oo-ui-buttonWidget > .oo-ui-buttonElement-button {
		display: block;
	}
}
