@import '../../../widgets/common/ext.cx.common.less';

.ve-ce-cxSectionNode {
	.transition( all 100ms ease-out );
	transition-property: background-color, box-shadow;

	.clearfix;
}

/* Reset opacity of non-active sections */
.ve-ce-surface-enabled .ve-ce-cxSectionNode:not( .ve-ce-activeNode-active ) {
	opacity: 1;
}

.ve-ce-cxSectionNode-lint-errors {
	box-shadow: -17px 0 0 -4px #fff, -20px 0 0 -4px @colorDestructive;
}

.ve-ce-cxSectionNode-lint-warnings {
	box-shadow: -17px 0 0 -4px #fff, -20px 0 0 -4px @colorLowSevere;
}
