// Fixes the top personal bar appearance in RTL UI in the Vector skin
.skin-vector #p-personal li { /* stylelint-disable-line selector-no-id */
	float: left;
}

.cx-header__toolbar > .oo-ui-toolbar {
	font-size: 0.8em;
	border-top: 1px solid #c8ccd1;
}
