/* Common LESS variables */

@very-narrow: 500px;
@narrow: 700px;
@wide: 1200px;
@max-dashboard-width: 1500px;
@tools-column-margin: 20px;
@max-tools-column-width: ( @wide / 3 ) + @tools-column-margin;

@header-bar-height-legacy: 40px;
@personal-header-height: 2.5em;
@personal-header-padding: 0.7em;
