<div class="mw-page-container">
	<noscript>{{msg-cx-javascript}}</noscript>
	{{>Header}}
	<div class="mw-content-container">
		<main id="content" class="mw-body" role="main">
			<div class="mw-body-content">
				{{{html-body-content}}}
			</div>
		</main>
	</div>
</div>
