@import "../../base/styles/grid/agora-grid";

.cx-column--translation [contenteditable] {
	outline: none;
}

.placeholder {
	display: block;
	text-align: center;
	font-size: 20px;
	font-weight: lighter;
	color: #AAA;
}