@import "../../base/styles/grid/agora-grid";

@text-highlight-color: #FEFCE0;
@link-highlight-color: #BDD4FF;

.cx-column--translation {
	[contenteditable] {
		outline: none;
	}

	.cx-column__sub-heading {
		.mw-ui-item;
		.mw-ui-one-whole;
		padding-bottom: 10px;
	}

	.cx-highlight {
		background-color: @text-highlight-color;
		box-shadow: 0px 0px 0 2px @text-highlight-color;
		border-radius: 2px;
		transition: all 0.25s;
	}

	.cx-highlight--blue {
		background-color: @link-highlight-color;
		box-shadow: 0px 0px 0 2px @link-highlight-color;
		border-radius: 2px;
		transition: all 0.25s;
	}
}

.placeholder {
	display: block;
	text-align: center;
	font-size: 20px;
	font-weight: lighter;
	color: transparent;
	cursor: pointer;

	.cx-column--translation:hover &:first-child {
		color: transparent;
		background: transparent;
	}

	&:first-child,
	.cx-column--translation &:first-child:hover,
	&:hover {
		color: #AAA;
		background: #f8f8f8;
		line-height: 2em;
	}
}
