@import 'grid/agora-grid';

@color-primary: #36c;

@gray-darker: #222;
@gray-dark: #54595d;
@gray: #c8ccd1;
@gray-light: #f0f0f0;
@gray-lighter: #f8f9fa;
@white: #fff;

.cx-widget {
	.mw-ui-grid;
	color: @gray-darker;
	background-color: @white;
	padding-bottom: 50px;
	font-size: medium;
}

.stick-to-side() {
	position: fixed;
	top: 0;
	right: 0;
}

.stick-to-bottom() {
	position: fixed;
	top: auto;
	bottom: 0;
	left: 0;
	box-shadow: 0 -3px 0 0 rgba( 0, 0, 0, 0.05 );
	max-height: 20%;
	min-height: 3em;
	overflow-x: hidden;
	overflow-y: auto;
	transition: max-height 0.25s;

	&:hover {
		max-height: 50%;
	}
}
