@import "../../base/styles/grid/agora-grid";

/* TODO remove when the grid is updated */
.hidden {
	display: none;
}

.card.mt {
	.card__title-row {
		.mw-ui-item;
		.mw-ui-one-whole;
		float: none; // XXX why would it be needed?
		color: #c9c9c9; // TODO Should come from library?
		padding-top: 8px;

		.card__title {
			.mw-ui-item;
			.mw-ui-one-whole;
			float: none; // XXX why would it be needed?
		}
	}

	.card__trigger {
		.mw-ui-item;
		.mw-ui-one-whole;
		padding-left: 10px;
		cursor: pointer;
		color: #555;
		&:after {
			width: 0;
			height: 0;
			content: "";
			display: inline-block;
			border-style: solid;
			border-width: 5px 5px 0 5px;
			border-color: #555 transparent transparent transparent;
		}
	}

	.card__providers-menu {
		.mw-ui-item;
		.mw-ui-two-thirds;
		list-style: none;
		position: absolute;
		margin-top: 30px;
		background-color: white;
		border: 1px solid #aaa;
		padding: 0;
		>li {
			cursor: pointer;
			padding: 5px;
		}
		>li:hover{
			background-color: #6698FF;
			color: #FFF;
		}
		:after, :before {
			bottom: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}
		:after {
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #FFF;
			border-width: 10px;
			margin-left: -10px;
		}
		:before {
			border-color: rgba(238, 238, 238, 0);
			border-bottom-color: #aaa;
			border-width: 11px;
			margin-left: -11px;
		}
	}

	.card__control-block {
		@vertical-margin: 10px;
		@horizontal-margin: 15px;
		.mw-ui-item;
		.mw-ui-one-whole;
		float: none; // XXX why would it be needed?
		padding: @vertical-margin @horizontal-margin;
		line-height: 1.5em;
		color: #c9c9c9; // TODO Should come from library?

		.card__control-button {
			@vertical-margin: 10px;
			@horizontal-margin: 15px;
			.mw-ui-item;
			.mw-ui-one-half;
			padding: @vertical-margin @horizontal-margin;
			line-height: 1.5em;
			color: #565656; // TODO Should come from library?
			cursor: pointer;
		}
	}

	.card__bottom {
		.mw-ui-item;
		.mw-ui-one-whole;
		float: none; // XXX why would it be needed?
		clear: both;
		padding: 5px;
		text-align: center;
	}
}
