@import "../../base/styles/grid/agora-grid";

.card.link {
	.mw-ui-item;
	animation-name: card-show-animation;
	animation-duration: 0.5s;
	position: relative;
	padding: 0;
}

.card__remove-link {
	@vertical-margin: 10px;
	@horizontal-margin: 15px;
	.mw-ui-item;
	.mw-ui-one-whole;
	float: none;
	padding: @vertical-margin @horizontal-margin;
	font-size: large;
	color: #565656; // TODO Should come from library?
	/* @embed */
	background: url(../images/clear.png) no-repeat scroll 10px center #FFFFFF;
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url(../images/clear.svg);
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url(../images/clear.svg);
	background-size: 15px;
	padding: 5px 10px 5px 32px;
	cursor: pointer;
	clear: both;
	border-top: 1px solid #dddddd;
}

.card__add-link {
	@vertical-margin: 10px;
	@horizontal-margin: 15px;
	.mw-ui-item;
	.mw-ui-one-whole;
	float: none;
	padding: @vertical-margin @horizontal-margin;
	font-size: large;
	color: #565656; // TODO Should come from library?
	/* @embed */
	background: url(../images/add.png) no-repeat scroll 10px center #FFFFFF;
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url(../images/add.svg);
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url(../images/add.svg);
	background-size: 15px;
	padding: 5px 10px 5px 32px;
	cursor: pointer;
	clear: both;
	border-top: 1px solid #dddddd;
}


.card__link-image-container {
	.mw-ui-item;
	.mw-ui-one-quarter;
	min-height: 100px;
	background-color: #FFFFFF;
	overflow: hidden;
	padding: 0;
	position: relative;
	img {
		min-width: 100%;
		min-height: 100%;
		position: absolute;
	}
	&:empty {
	background-color: #fbfbfb;
	/* @embed */
	background: url(../images/link_lightgray.png) no-repeat scroll center center #fbfbfb;
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url(../images/link_lightgray.svg);
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url(../images/link_lightgray.svg);
	border-right: 1px solid #eeeeee;
	}
}

.card__link-info {
	.mw-ui-item;
	.mw-ui-three-quarters;
	background-color: #FFFFFF;
	padding: 0;
}

.card__link-text {
	.mw-ui-item;
	color: #0645ad;
	font-size: large;
	padding: 4px;
	padding-bottom: 15px;
}
